body {
    font-family: sans-serif;
    background-color: D9D9D9;
}

header {
    background-color: rgba(74, 74, 74, 1);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

footer {
    background-color: rgba(74, 74, 74, 1);
    padding: 6px;
    margin: 0px;
}

footer p {
    background-color: rgba(217, 217, 217, 1);
    padding: 3px;
}

main h1 {
    font-size: 32px;
    text-align: center;
}

main img {
    text-align: center;
}

main {
    background-color: rgba(217, 217, 217, 1);
    margin: 0px;
    padding: 0px;
}

header p {
    margin-left: 720px;
    border:1px solid rgba(74, 74, 74, 1);
    background-color: white;
    padding: 5px;
}
